@font-face {
  font-family: 'Circle Bold';
  //src: url('../../fonts/Circe-Bold/Circe-Bold.eot');
  src: url('../../fonts/Circe-Bold/Circe-Bold.woff') format('woff')
  //,
  //url('../../fonts/Circe-Bold/Circe-Bold.ttf')  format('truetype'),
  //url('../../fonts/Circe-Bold/Circe-Bold.svg') format('svg');
}

@font-face {
  font-family: 'Circle Regular';
  //src: url('../../fonts/Circe-Regular/Circe-Regular.eot');
  src: url('../../fonts/Circe-Regular/Circe-Regular.woff') format('woff')
  //,
  //url('../../fonts/Circe-Regular/Circe-Regular.ttf')  format('truetype'),
  //url('../../fonts/Circe-Regular/Circe-Regular.svg') format('svg');
}

@font-face {
  font-family: 'Circle Light';
  //src: url('../../fonts/Circe-Light/Circe-Light.eot');
  src: url('../../fonts/Circe-Light/Circe-Light.woff') format('woff')
  //,
  //url('../../fonts/Circe-Light/Circe-Light.ttf')  format('truetype'),
  //url('../../fonts/Circe-Light/Circe-Light.svg') format('svg');
}